accelerate==0.32.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
asttokens
async-timeout==4.0.3
attrs==23.2.0
bitsandbytes==0.43.1
Brotli
certifi
neo4j
GPUtil
charset-normalizer
cmake==3.30.0
colorama
comm
datasets==2.20.0
debugpy
decorator
dill==0.3.8
distro==1.9.0
docstring_parser==0.16
huggingface_hub
exceptiongroup
executing
filelock
frozenlist==1.4.1
fsspec==2024.2.0
gmpy2
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.4
idna
importlib_metadata
intel-openmp==2021.4.0
ipykernel
ipython
jedi
Jinja2
markdown-it-py==3.0.0
MarkupSafe
mdurl==0.1.2
mkl==2021.4.0
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
multidict==6.0.5
multiprocess==0.70.16
nest_asyncio
networkx
ninja==1.11.1.1
numpy==1.26.4
openai==1.35.9
packaging
pandas==2.2.2
parso
peft==0.11.1
pickleshare
pillow
platformdirs
prompt_toolkit
protobuf==3.20.3
psutil
pure-eval
pyarrow==16.1.0
pyarrow-hotfix==0.6
pydantic==2.8.1
pydantic_core==2.20.1
Pygments
PySocks
python-dateutil
pytz==2024.1
PyYAML
pyzmq
regex==2024.5.15
requests
rich==13.7.1
safetensors==0.4.3
sentencepiece==0.2.0
shtab==1.7.1
six
sniffio==1.3.1
stack-data
sympy 
tbb==2021.11.0
tokenizers==0.19.1
torch==2.3.0 --extra-index-url https://download.pytorch.org/whl/cu121
tornado
tqdm==4.66.4
traitlets
transformers==4.42.3
trl==0.8.6
typing_extensions
tyro==0.8.5
tzdata==2024.1
unsloth @ git+https://github.com/unslothai/unsloth.git@5ab565fb2c811d0b85d68dadd2ac1b32dee05e8b
urllib3
wcwidth
win-inet-pton
xformers==0.0.26.post1
xxhash==3.4.1
yarl==1.9.4
zipp
